{% if isPOST and questionNumber != questions%}
<script>
  window.parent.$('#next').trigger('click');
</script>
{% elif isPOST and questionNumber == questions%}
<script>
  parent.location.href = "/view/{{question.form.id}}/{{user.id}}"
</script>
{% endif %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"/>
  <link href="../static/css/parallax.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <script type="text/javascript">
      if (parent.location==location) {
          location.href = "/take/{{question.form.id}}"
      }
  </script>

  <h4>QUESTION #{{questionNumber}}</h4>
  <div class="col s1"><br><br></div>

  <div class="row">
    <div class="row s12">
      <div class="col s9">
        <h5 class="grey-text center">{{question.question.upper()}}</h5>
      </div>
      {% if isTest %}
        <div class="col s3">
          {% if question.points == 1 %}
          <h5 class="grey-text center">1 POINT </h5>
          {% else %}
          <h5 class="grey-text center">{{question.points}} POINTS</h5>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <form class="col s12" id="form" name="form" method="POST">

      {% block content %}
      {% endblock %}

    </form>
  </div>

  <button id="submit" style="visibility: hidden" class="btn waves-effect waves-light cyan right" type="submit" name="action" form="form">SUBMIT</button>

<footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    (function($){
      $(document).ready(function(){
        $('select').formSelect();
      });
    })(jQuery);
  </script>
</footer>

</body>
</html>
