{% extends 'take/base.html' %}
{% block content %}

<div class="row s10">
  {% for n in range(question.order|length) %}
  <div class="row s10">
    <div class="col s3"></div>
    <div class="col s1">
      <select class="browser-default" id="r{{n+1}}" name="r{{n+1}}" required>
        <option disabled></option>
        {% for i in range(question.order|length) %}
          {% if answer %}
            {% if (answer[i].strip()).lower() == (question.order[n].strip()).lower() %}
            <option value="{{i+1}}" selected>{{i+1}}. </option>
            {% else %}
            <option value="{{i+1}}">{{i+1}}. </option>
            {% endif %}
          {% else %}
            {% if n == i %}
            <option value="{{i+1}}" selected>{{i+1}}. </option>
            {% else %}
            <option value="{{i+1}}">{{i+1}}. </option>
            {% endif %}
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col s3">
      <h6 class="grey-text text-darken-2">{{(question.order[n].strip()).upper()}}</h6>
    </div>
  </div>
  {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

  $('select[id*="r"]').change(function() {
      var ranks = [];
      c = this.id;

      $('select[id*="r"]').each(function() {
          ranks.push(parseInt(this.value));
      });
      var sorted = ranks.slice().sort();
      var results = [];
      for (var i = 0; i < sorted.length - 1; i++) {
          if (sorted[i + 1] == sorted[i]) {
              results.push(sorted[i]);
          }
      }

      $('select[id*="r"]').each(function() { // go through them all
        for (var i in results) {
            if(c != this.id && results[i] == parseInt(this.value)){
              $('#'+this.id).prop('selectedIndex',0);
            }
        }
      });
  });

</script>

{% endblock %}
