{% extends 'take/base.html' %}
{% block content %}

<div class="input-field row s12">
  <div class="col s3"><br><br></div>
  <div class="col s3 center">
    <select class="browser-default" id="response" name="response" required>
      {% if answer %}
      <option value="" disabled>TRUE OR FALSE</option>
        {% if answer.lower() == 'true' %}
        <option value="True" selected>TRUE</option>
        <option value="False">FALSE</option>
        {% else %}
        <option value="True">TRUE</option>
        <option value="False" selected>FALSE</option>
        {% endif %}
      {% else %}
      <option value="" disabled selected>TRUE OR FALSE</option>
      <option value="True">TRUE</option>
      <option value="False">FALSE</option>
      {% endif %}
    </select>
  </div>
</div>


{% endblock %}
