{% extends 'base.html' %}
{% block content %}

<div class="row s12"><br><br><br><br><br><br><br><br><br><br><br><br></div>
<div class="row s12">
  <div class="col s3"></div>
  <div class="col s3"><h1 class="grey-text text-darken-1">< ERROR 404 /></h1><h3 class="grey-text"><br>IMMA LET YOU FINISH,<br>BUT THE PAGE YOUR LOOKING FOR<br>CAN'T BE FOUND</h3></div>
  <div class="col s4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/kanye.png"></div>
</div>
<div class="row s12 center">
  <div class="col s4 center"></div>
  <div class="col s1 center">
    <a class="btn-floating btn-large waves-effect waves-light grey darken-1" href="/dash"><i class="material-icons">arrow_back</i></a>
  </div>
</div>

{% endblock %}
