{% extends 'base.html' %}
{% block content %}

<div class="row s12"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
{% if isTest == True %}
  <h4 class="center grey-text text-lighten-1">TEST CURRENTLY NOT PUBLISHED</h4>
{% elif isTest == False %}
  <h4 class="center grey-text text-lighten-1">SURVEY CURRENTLY NOT PUBLISHED</h4>
{% else %}
  <h4 class="center grey-text text-lighten-1">FORM CURRENTLY NOT PUBLISHED</h4>
{% endif %}
<div class="row s12"><br></div>


<div class="row s12 center">
  {% if not user %}
    <a class="waves-effect waves-light btn-large blue" href="/login">Google Sign in</a>
  {% else %}
    <a class="btn-floating btn-large waves-effect waves-light grey lighten-1" href="/dash"><i class="material-icons">arrow_back</i></a>
  {% endif %}
</div>

{% endblock %}
